.register {
    background-color: #0b3079;
    min-height: 100vh;
    font-size: calc(10px + 2vmin);
    color: white;    
}

.registerForm{
    display: flex;
    flex-direction: column;
    margin: auto, 30px;
    text-align: center;
    

}

.loginForm input{
    width: 300px;
    margin: auto;
    display: block;
}

button {
    height: 40px;
    margin: 15px;
    float: right;
    border-color: #e7e7e7;
    color: black;
    border-radius: 4px;
}

